@import "~bootstrap/dist/css/bootstrap";

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login {
    width: 500px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    margin: auto;

    h3 {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}

html, body {
  font-size: 14px;
}

.app {
  height: 100%;
  position: relative;
}

.form-check-input {
  position: relative;
  margin: 0px 5px 0px 0px;

  .a {
    white-space: pre-wrap;
    stext-align: left;
  }
}