<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="app h-100"></div>
  </body>
  
  <%= javascript_pack_tag 'index' %>


  <%= stylesheet_pack_tag 'application' %>

</html>
